---
import {SITE_TITLE, SITE_DESCRIPTION} from '../consts';
import {Image} from "astro:assets";
import Generic from "../layouts/Generic.astro";
import CosmicBackground from "../components/CosmicBackground/CosmicBackground.astro";
import Manatee from "../assets/manatee.png"
import Rainbow from "../assets/rainbow.png"

import AtlasGauntlets from "../assets/atlas_gauntlets.png"
import OrcDinner from "../assets/orc_dinner.jpg"
import Raybenez from "../content/projects/Raybenez.png"
---

<style>
    .graphic_design {
        font-family: "Bad Script", cursive;
        position: absolute;
        right: 10vw;
        top: 20vh;
        display: block;

    }

    .graphic_design .is_my_passion {
        font-size: 2.0rem;
        z-index: 3;

        transform: rotate(-7deg);
        text-shadow: -4px 4px #ef3550,
        -8px 8px #f48fb1,
        -12px 12px #7e57c2,
        -16px 16px #2196f3,
        -20px 20px #26c6da,
        -24px 24px #43a047,
        -28px 28px #eeff41,
        -32px 32px #f9a825,
        -36px 36px #ff5722;
    }

    .graphic_design .manatee {
        position: relative;
        right: -40%;
        bottom: 40px;
        z-index: -1;
    }

    .graphic_design .rainbow {
        position: absolute;
        right: -20%;
        bottom: -20px;
        z-index: -2;

    }

    .spacer {
        margin-bottom: 130px;
    }

    h3 {
        margin-top: 50px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
    }

    .column {
        flex: 32%;
        max-width: 32%;
        padding: 0 16px;
        box-sizing: border-box;

    }

    .column .image_gal {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;


    }

    .fade-in {
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 2s;
    }

    @keyframes fadeInOpacity {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }


</style>
<CosmicBackground>
    <Generic
            title="About Me"
            description="Lorem ipsum dolor sit amet"

    >
        <div class="graphic_design">
            <div class="is_my_passion">
                Graphic design is my passion
            </div>
            <Image
                    alt="Manatee cute"
                    src={Manatee}
                    width={200}
                    class="manatee"
            />
            <Image alt="Rainbow"
                   src={Rainbow}
                   width={250}
                   class="rainbow"
            />
        </div>
        <h1>About This Site</h1>
        <div class="spacer">

        </div>
        <p>
            I'm a software developer (by the loosest definition) and this
            website is a passion project where I share my learning experiences
            which, with any luck, I will pass on to you
            so you can make my mistakes too.
        </p>
        <p>
            I make web projects, game(s), and a hodgepodge
            of handcrafted wood and metal things ranging from
            cosplay stuff to amateur robotics to funky looking
            instruments.
        </p>
        <!--<div-->
        <!--style="display: flex; justify-content: end"-->
        <!--&gt;-->
        <!--    <a href="https://keanewong.github.io">-->
        <!--        See my website-->
        <!--    </a>-->
        <!--</div>-->

        <h3>
            <a style="text-decoration: none"
               href=`${import.meta.env.BASE_URL}/stormlight`>
                The Stormlight Archives Video Game
            </a>
        </h3>

        <p>
            This blog also serves as an outlet for my insane
            obsession with <a href="https://www.brandonsanderson.com/pages/the-stormlight-archive-series">
            the Stormlight Archives</a> as I, with no formal game
            design experience, develop my vision for a Stormlight
            Archives indie platformer adventure.
        </p>
        <p>
            Progress will be slow as I am working on it by myself, but
            if you're an artist or game dev, or most importantly, a
            fellow crazy person obsessed with the Cosmere (or if you're
            Brando Sando himself),
            <a href="mailto:keanewong913@gmail.com?subject=Stormlight%20Archives">DM me</a>
            and we can collaborate or just talk about the state of
            Roshar.
        </p>


        <h3>
            <a style="text-decoration: none"
               href=`${import.meta.env.BASE_URL}/projects`>
                Projects
            </a>
        </h3>
        <p>
            Here you'll find in-depth explanations of my projects,
            mostly stuff I do outside of software; various instruments,
            cosplay props, and experimental recipes.
        </p>
        <div class="row">
            <div class="column">
                <Image alt="Atlas Gauntlets"
                       src={AtlasGauntlets}
                       class="image_gal fade-in"/>
            </div>
            <div class="column">
                <Image alt="Cool Food"
                       src={OrcDinner}
                       class="image_gal fade-in"/>
            </div>
            <div class="column">
                <Image alt="Raybenez"
                       src={Raybenez}
                       class="image_gal fade-in"/>
            </div>

        </div>
    </Generic>
</CosmicBackground>
</html>